<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/vendor/bootstrap/dist/css/bootstrap.min.css') }}">
    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Welcome !{% endblock %} | Random Meeting</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
            <div class="row">
                <div class="list-group">
                    <a href="{{ path('rm_people_list') }}" class="list-group-item active">List of People</a>
                    <a href="{{ path('rm_team_list') }}" class="list-group-item">list of Team</a>
                </div>
            </div>
        </div>

        <div class="col-lg-10">
            {% block body %}{% endblock %}
        </div>
    </div>
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
