{% extends "::base.html.twig" %}

{% block title %}Add People{% endblock %}

{% block body %}
    <div class="row">
        <h1 class="col-md-12">Welcome to the RandomMeeting App</h1>

        <div class="list-group">
            <a href="{{ path('rm_people_list') }}" class="list-group-item active">List of People</a>
            <a href="{{ path('rm_team_list') }}" class="list-group-item">list of Team</a>
        </div>
    </div>
{% endblock %}
