{% extends "::base.html.twig" %}

{% block title %}Create Team{% endblock %}

{% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}

{% block body %}
    <div class="row">
        <h1 class="col-md-12">Welcome to the Create Team page</h1>

        {{ form_start(form) }}
        {{ form_end(form) }}

        <a href="{{ path('rm_team_list') }}">go back to the list</a>
    </div>
{% endblock %}
