{% extends "::base.html.twig" %}

{% block title %}Add People{% endblock %}

{% block body %}
    <h1>Welcome to the Add People page</h1>

    {{ form_start(form) }}
    {{ form_end(form) }}

    <a href="{{ path('rm_people_list') }}">go back to the list</a>
{% endblock %}
